.plans-container{
    padding: 1rem 2rem;
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    position: relative;
}
.plan-blur-1{
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0rem;
}
.plan-blur-2{
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}
.plans{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.plan{
    display: flex;
    flex-direction: column;
    padding:2rem;
    width: 15rem;
    color:white;
    gap:2rem;
    background:gray;
    border-radius: .2rem;
}
.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);
}
.plan>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}
.plan>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}
.plan>:nth-child(5){
    font-size: 0.8rem;
}
.plan>svg{
    width: 2rem;
    height: 2rem;
    fill: var(--orange);
}
.plan:nth-child(2)>svg{
    fill: white;
}
.plan:nth-child(2)>button{
    color: var(--orange);
}
.features{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.feature{
    display: flex;
    gap:1rem;
    align-items: center;
}
.feature>img{
    width: 1rem;
}