.programs{
    display: flex;
    flex-direction: column;
}
.programs-header{
    display: flex;
    gap:5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}
.program-categories{
    display: flex;
    padding:2rem;
    gap: 1rem;
}
.category{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding:2rem;
    gap:1rem;
    color: white;
    justify-content: space-between;
}
.category:hover{
    background: var(--planCard);
    scale: 1.07;
    border-radius: .2rem;
    cursor: pointer;
}
.category>:nth-child(1){
    width: 2rem;
    fill: white;
    height: 2rem;
}
.category>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}
.category>:nth-child(3){
    font-size: 0.8rem;
    line-height: 25px;
}
.join-now{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.join-now>img{
    width: 1rem;
}